* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #323232;
    color: white;
    overflow-x: hidden;
}

#header {
    position: fixed;
    width: 100vw;
    display: flex;
    /* background-color: #0b0b0b96; */
    /* backdrop-filter: blur(2px); */
    justify-content: space-between;
    padding: 12px 30px;
    align-items: center;
}

#header h1 {
    font-size: 3rem;
    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header ion-icon {
    font-size: 1.6rem;
    cursor: pointer;
    background-color: transparent;
    z-index: 10;
}

.full-header {
    position: absolute;
    top: 0;
    right: -40%;
    height: 100vh;
    width: 35%;
    background-color: #212121d1;
    backdrop-filter: blur(2px);
    opacity: 0;
    padding: 150px 40px;
    z-index: 1;
}

.full-header h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    user-select: none;
}

.close-logo {
    position: absolute;
    overflow-x: hidden;
    top: 3%;
    right: 5%;
    scale: 2;
}

#Home {
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/1525041/pexels-photo-1525041.jpeg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#Home h3 {
    font-size: 5rem;
    text-align: center;
    backdrop-filter: blur(1px);
    border-radius: 20px;
    padding: 10px;
    background-color: #5f5f5f2b;
    overflow: hidden;
    user-select: none;
}

.home-text .word5, .home-text .word7 {
    outline: 1px dashed ;
    border-radius: 10px;
    cursor: pointer;
}

#Home p {
    font-size: 1.5rem;
    text-align: center;
    user-select: none;
}


#About {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* padding: 10vw 0; */
    background-color: #111;

}


#Features {
    position: relative;
    width: 100vw;
    height: 100vh;

    background-color: #fff;
}

#get-started {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.getStarted {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20%;
}

.get-started-btn {
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.get-started-btn a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 10px;
}

